body {background: #333;color:#eee;font-family:sans-serif;}
#root {width:100%;}
div {width:33%;float:left;}
#plates p {height:100px;float:left;background:#666;margin:5px;writing-mode:vertical-rl;text-align:center;}
#plates .p45, #plates .p5 {background:blue;}
#plates .p35 {background:yellow;color:#000;}
#plates .p25, #plates .p2\.5 {background:green;}
#plates .p10, #plates .p1\.25 {background:white;color:#000;}
@media screen and (max-width: 500px) {
    .box {width:100%;}
}
